
<!-- Contato -->
<footer class="footer" id="contact">
	<h2>{% t home.contact-title %}</h2>

	<div>
		<address>
			<h3>{% t home.contact2.title %}</h3>
			<div>
				<h4>{% t home.contact2.phone %}</h4>
				<a href="https://api.whatsapp.com/send?phone=551135007861&text=Olá,%20gostaria%20de%20mais%20informações%20sobre%20o%20checkout%20Vega" title="{% t home.contact2.link %}" target="_blank" class="magic-hover">
					{% t home.contact2.link %}
				</a>
				<i></i>
				<p>{% t home.contact2.info %}</p>
			</div>
		</address>
		<address>
			<h3>{% t home.contact1.title %}</h3>
			<div>
				<h4>{% t home.contact1.phone %}</h4>
				<a  href="https://api.whatsapp.com/send?phone=558005918746&text=Olá,%20gostaria%20de%20mais%20informações%20sobre%20o%20checkout%20Vega" title="{% t home.contact1.link %}" target="_blank" class="magic-hover">
					{% t home.contact1.link %}
				</a>
				<i></i>
				<p>{% t home.contact1.info %}</p>
			</div>
		</address>
		<aside>
			<address>
				<h3>{% t home.contact3.title %}</h3>
				<div>
					<h4>{% t home.contact3.mail %}</h4>
					<p>{% t home.contact3.info %}</p>
					<a href="mailto:{% t home.contact3.mail %}" title="{% t home.contact3.link %}" target="_blank" class="magic-hover">{% t home.contact3.link %}</a>
				</div>
			</address>
			<!-- Redes -->
			<footer>
				<ul class="social">
					<li><a class="instagram magic-hover" 
						href="https://www.instagram.com/vegacheckout/"
						title="Instagram Vega"
						target="_blank">
						</a>
					</li>
					<li><a class="facebook magic-hover" 
						href="https://www.facebook.com/vegacheckout.com.br"
						title="Facebook Vega"
						target="_blank">
						</a>
					</li>
					<li><a class="youtube magic-hover" 
						href="https://www.youtube.com/@vegacheckout/videos"
						title="YouTube Vega"
						target="_blank">
						</a>
					</li>
				</ul>
				<small>&copy; 2025<br>Vega Checkout</small>
			</footer>
		</aside>
	</div>
	<a href="#cover" title="Top" class="magic-hover"><i></i></a>
</footer>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/MotionPathPlugin.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/magicmouse.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/scripts.js"></script>


