<header class="header">
  <svg width="296" height="257" viewBox="0 0 296 257" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
    <path d="M74.4938 128.525L128.59 74.4905L0.746094 0.789734L74.4938 128.525Z" fill="#2C2C2C"/>
    <path d="M295.996 0.649597L148.332 256.411L74.5 128.53L295.996 0.649597Z" fill="#FFB727"/>
  </svg>

  <button type="button" class="bt_menu magic-hover" title="Menu">
    <svg width="60" height="60" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="16" y="22.123" width="28" height="4.877" rx="2.438" fill="#2C2C2C"/>
      <rect x="18" y="33" width="24" height="4.877" rx="2.438" fill="#2C2C2C"/>
    </svg>
  </button>

  <a href="{{ site.signup }}" title="{% t header.sign %}" target="_blank" class="signup magic-hover"><span>{% t header.sign %}</span></a>

</header>
